body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.basic-advanced-buttons {
  position: absolute;
  top: 150px;
  left: 100px;
}

.basic-calculator {
  background-color: #bed7dd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.basic-calculator .overlap-wrapper {
  background-color: #bed7dd;
  border: 1px none;
  height: 1024px;
  overflow-x: hidden;
  width: 1440px;
}

.basic-calculator .overlap {
  height: 1361px;
  left: -35px;
  position: relative;
  width: 1475px;
}

.basic-calculator .scroll-frame {
  height: 1361px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.basic-calculator .overlap-group {
  height: 607px;
  left: 595px;
  position: absolute;
  top: 187px;
  width: 841px;
}

.basic-calculator .rectangle {
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px #00000085;
  height: 551px;
  left: 38px;
  position: absolute;
  top: 56px;
  width: 766px;
}

.basic-calculator .visualization-area {
  color: #00313c80;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 274px;
  letter-spacing: 2px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 281px;
}

.basic-calculator .text-wrapper {
  color: #00303c;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 0;
  letter-spacing: 1.25px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 841px;
}

.basic-calculator .div {
  /*background-image: url(./image.svg);*/
  background-size: 100% 100%;
  height: 496px;
  left: 633px;
  position: absolute;
  top: 850px;
  width: 775px;
}

.basic-calculator .text-wrapper-2 {
  color: #00313c80;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 137px;
  letter-spacing: 2px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 222px;
  white-space: nowrap;
}

.basic-calculator .text-wrapper-3 {
  color: #00313c;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 1px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 20px;
  white-space: nowrap;
}

.basic-calculator .text-wrapper-4 {
  color: #00313c;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 316px;
  letter-spacing: 1px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 12px;
  white-space: nowrap;
}

.basic-calculator .text-wrapper-5 {
  color: #00313c;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 538px;
  letter-spacing: 1px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 12px;
  white-space: nowrap;
}

.basic-calculator .top-bar {
  background-color: #f0f0f0;
  height: 180px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.basic-calculator .lawrence-berkeley {
  height: 100px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 463px;
}

.basic-calculator .dark-background {
  background-color: #00303c;
  height: 1181px;
  left: 35px;
  position: absolute;
  top: 180px;
  width: 600px;
}

.basic-calculator .img {
  height: 47px;
  left: 351px;
  position: absolute;
  top: 498px;
  width: 250px;
}

.basic-calculator .rectangle-2 {
  height: 47px;
  left: 58px;
  position: absolute;
  top: 496px;
  width: 250px;
}

.basic-calculator .text-wrapper-6 {
  color: #ffffff;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 363px;
  letter-spacing: 1.25px;
  line-height: 45px;
  position: absolute;
  top: 495px;
  white-space: nowrap;
  width: 250px;
}

.basic-calculator .p {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 30px;
  letter-spacing: 1px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 1002px;
  width: 306px;
}

.basic-calculator .text-wrapper-7 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 1px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 1101px;
  width: 306px;
}

.basic-calculator .text-wrapper-8 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 1px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 1200px;
  width: 306px;
}

.basic-calculator .text-wrapper-9 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 353px;
  white-space: nowrap;
  width: 250px;
}

.basic-calculator .text-wrapper-10 {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 463px;
  white-space: nowrap;
  width: 250px;
}

.basic-calculator .text-wrapper-11 {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 272px;
  letter-spacing: 1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 464px;
  white-space: nowrap;
  width: 250px;
}

.basic-calculator .text-wrapper-12 {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 578px;
  white-space: nowrap;
  width: 250px;
}

.basic-calculator .text-wrapper-13 {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 61px;
  letter-spacing: 1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 703px;
  white-space: nowrap;
}

.basic-calculator .rectangle-3 {
  background-color: #007681;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #000000;
  height: 47px;
  left: 58px;
  position: absolute;
  top: 386px;
  width: 548px;
}

.basic-calculator .rectangle-4 {
  height: 47px;
  left: 363px;
  position: absolute;
  top: 991px;
  width: 250px;
}

.basic-calculator .rectangle-5 {
  height: 47px;
  left: 363px;
  position: absolute;
  top: 1103px;
  width: 250px;
}

.basic-calculator .rectangle-6 {
  height: 47px;
  left: 363px;
  position: absolute;
  top: 1198px;
  width: 250px;
}

.basic-calculator .rectangle-7 {
  height: 47px;
  left: 405px;
  position: absolute;
  top: 1281px;
  width: 182px;
}

.basic-calculator .rectangle-8 {
  height: 47px;
  left: 58px;
  position: absolute;
  top: 611px;
  width: 548px;
}

.basic-calculator .rectangle-9 {
  height: 111px;
  left: 58px;
  position: absolute;
  top: 740px;
  width: 548px;
}

.basic-calculator .text-wrapper-14 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 366px;
  letter-spacing: 1.6px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1100px;
  white-space: nowrap;
  width: 240px;
}

.basic-calculator .text-wrapper-15 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 368px;
  letter-spacing: 1.6px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1197px;
  white-space: nowrap;
  width: 240px;
}

.basic-calculator .text-wrapper-16 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 371px;
  letter-spacing: 1.5px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 989px;
  white-space: nowrap;
  width: 233px;
}

.basic-calculator .text-wrapper-17 {
  color: #ffffff;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 68px;
  letter-spacing: 1.25px;
  line-height: 45px;
  position: absolute;
  top: 495px;
  white-space: nowrap;
  width: 160px;
}

.basic-calculator .text-wrapper-18 {
  color: #ffffff;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 68px;
  letter-spacing: 1.25px;
  line-height: 45px;
  position: absolute;
  top: 611px;
  white-space: nowrap;
  width: 532px;
}

.basic-calculator .reset-download {
  color: transparent;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 44px;
  letter-spacing: 1.25px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1285px;
  white-space: nowrap;
  width: 334px;
}

.basic-calculator .span {
  color: #82b9c6;
}

.basic-calculator .text-wrapper-19 {
  color: #83bac7;
}

.basic-calculator .text-wrapper-20 {
  color: #f0f0f0;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 30px;
  font-weight: 800;
  left: 330px;
  letter-spacing: 1.5px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1275px;
  white-space: nowrap;
  width: 332px;
}

.basic-calculator .h-1 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 150px;
  letter-spacing: 2px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: 263px;
  white-space: nowrap;
}

.basic-calculator .text-wrapper-21 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 50px;
  letter-spacing: 1.25px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 904px;
  white-space: nowrap;
  width: 563px;
}

.basic-calculator .text-wrapper-22 {
  color: #ffffff;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 68px;
  letter-spacing: 1.25px;
  line-height: 45px;
  position: absolute;
  top: 388px;
  white-space: nowrap;
  width: 528px;
}

.basic-calculator .navigation {
  height: 64px;
  left: 935px;
  overflow: hidden;
  position: absolute;
  top: 58px;
  width: 502px;
}

.basic-calculator .navbar {
  height: 90px;
  left: 12px;
  position: relative;
  top: -10px;
  width: 519px;
}

.basic-calculator .text-wrapper-25 {
  color: #00303c;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 4.8px;
  line-height: 90px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 480px;
}

.basic-calculator .text-wrapper-26 {
  color: #00303c;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 149px;
  letter-spacing: 4.8px;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 69px;
}

.basic-calculator .text-wrapper-27 {
  color: #00303c;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 218px;
  letter-spacing: 4.8px;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 168px;
}

.basic-calculator .text-wrapper-28 {
  color: #00303c;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 351px;
  letter-spacing: 4.8px;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 168px;
}

.basic-calculator .text-wrapper-29 {
  color: #00303c;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 4.8px;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}
